.page{
    width: 250px;
    height: 600px; 
    margin: 20px;
    padding: 70px;
    border: 0.5px solid black;    
    padding-left: 10px;
    border-radius: 20px;
}

.page:hover{
    border: white solid 2px;
    
}
.first,.second,.third{
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
    width: 300px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 20px;
}

.pages{
    display: flex;
    justify-content: center;
    margin: 10px;    
    align-items: center;
    
}

header{
    height: 250px;
    width: 100%;
}

.sec{
    display: flex;
}

.heading{
    font-size: x-large;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.per{
    padding-top: 20px;
}


.ten{
    font-size: 4em;
    margin-right: 10px;
    margin-top: 20PX;
    margin-bottom: 40px;
}
.b{
    width: 200px;
    height: 40px;
    padding-left: 85px;
    padding-top: 8px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
    
}
.b:hover{
    border: 2px solid transparent;
    transition: 0.5s;
    transform-box: border-box;
}

.h{
    margin-bottom: 0px;
}
.g{
    margin-top: 0px;
}

.button{
    background-color: rgb(1, 1, 63);
    color: white;
}

.two{
    background-color: rgb(1,1,63);
    color: white;
}

.buttons{
    background-color: rgb(120, 200, 0);
}
.buttons2{
    background-color: white;
    color: rgb(1, 1, 63);
}
.ic{
    margin: 5px;
    color: rgb(120, 200, 0);
}